In [ ]:
input("enter your name")

enter your namejaveria

'javeria '

In [ ]:
# actually backend documemtation of print which is actually called function took argument is
#print(value, ..., sep=' ', end='\n', file=sys.stdout, flus .......... here end\n use to automatically default prgram to next line
#lets use print by removing end=" \n"
ask=input("enter your name")
print("hello"+ask)
# now use print with end=""
print("hello",end="")# as we can see it written on different line but still print at same line
print(ask)

enter your namejaveria
hellojaveria
hellojaveria

In [ ]:
#what if give any other argument in end
print("hello",end="////")# as we can see it written on different line but still print at same line
print(ask)# remember this

hello////javeria

In [ ]:
# sep
#print(value, ..., sep=' ', end='\n', file=sys.stdout, flus
print("hello",ask ,sep=">>>>>>")
print(ask)

hello>>>>>>javeria
javeria

In [ ]:
#fstring
print(f"hello jiya nice to meet u {ask} dont be happy or sad")

hello jiya nice to meet u javeria dont be happy or sad

In [ ]:
#strip method.......... use to remove white spaces
print("hello",ask)

hello javeria

In [ ]:
name=input("enter name")
print("hello",name)

enter name             ali
hello              ali

In [ ]:
# now e will apply strip
name=input("enter name")
name=name.strip()
print("hello",name)# as the strip method will remove all white spaces

enter name                ali
hello ali

In [ ]:
#captilize() method
# will captilize the first letter of your input string
name=input("enter name")
name=name.capitalize()
print("hello",name)# as the strip method will remove all white spaces

enter name                    jiya
hello                     jiya

In [ ]:
#title
# use for title base capitalization # will capitalize every first letter of string
name=input("enter name")
name=name.title()
print("hello",name)#

enter namejaveria malik
hello Javeria Malik

In [ ]:
name="                jiya malik python programmr             "
name=name.strip().title()# strip only remove left and right not in between
print("hello",name)# it will aplly both methods

hello Jiya Malik Python Programmr

In [ ]:
#split method is used to split the first and last name or characters into half
# in pyton we can give two variables at same time
name=input("enter name")
first,last = name.split(" ")
print("hello",first)#it eill print only the first name

enter namejiya malik
hello jiya

In [1]:
#integer:Datatype
a=int(input("enter your your firt num"))
b=int(input("enter your your second num"))
sum=a+b
sub=a-b
multiply=a*b
divide=a/b
mdulus=a%b
floor=a//b
print(floor)#is the quotient like output of 6/9 is 0.6 and whil using in floor divison it will be 0 highest integer before .

enter your your firt num6
enter your your second num9
0

In [2]:
#converting one data type to anotyher
a="8"
b=9
print(a+b)

TypeError: ignored

In [3]:
# now work with conversion
c=int(a)+b
print(c)

17

In [4]:
#round mwthod
print(round(7.87+1))# it will round the value

9

In [5]:
print(round(7.17+1))

8

In [8]:
#we can also include comma by using an approach of f string
print(f"{10000:,}")#cooma is included in number as per the us way

10,000

In [9]:
# we have a limited space of hardware in pc so at somepoint there always be require to convert or round off float infinity value
#lets see
a=0.99999999
b=8
print(a+b)

8.99999999

In [10]:
print(round(a+b))

9

In [11]:
print(10/3)
print(round(10/3))
# to set the value or dogits after point use
print(round(10/3),3)

3.3333333333333335
3
3 3

In [12]:
print((10/3),3)

3.3333333333333335 3

In [ ]:
z=round(10/3)
print(z,2)

In [15]:
x=float(input("e"))# here is corrected code
y=float(input("s e"))
z=round(x/y,2)
print(z)

e2
s e3
0.67

In [17]:
#here is another way to define the above issye
x=float(input("e"))# here is corrected code
y=float(input("s e"))
z=(x/y)
print(f"{z:.2f}")

e2
s e3
0.67

In [25]:
#funxtion
def hello(to="world"):
  print("hello,",to)
hello()
name=input("enter your name")
hello(name)

hello, world
enter your namejm
hello, jm

In [26]:
#lets have function
""" the most imp thing is
using function is having parts is main and the other parts can define further """

' the most imp thing is \nusing function is having parts is main and the other parts can define further '

In [27]:
def main():
  x=int(input("enter num"))
  print("the square is ",square(x))
def square(n):
  return n*n
main()
# here how it works fist it take imput x and print is square  but square function till not define
#then we make another function square whic took argumnet n this argumnet will copy t top square as place x in place of function x
#then the call main()

enter num4
the square is  16

In [30]:
def main():
  y=[]
  x=input("enter list of their function")
  y.append(x)
  work=input("enter day")
  print(y,list(work))

def list(home):
  return home
main()

enter list of their functionwhite
enter dayyesterday
['white'] yesterday